@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(https://fonts.gstatic.com/s/firasans/v8/VTBnrK42EiOBncVyQXZ7j-gdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url(https://fonts.gstatic.com/s/firasans/v8/6s0YCA9oCTF6hM60YM-qTUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(https://fonts.gstatic.com/s/firasans/v8/zM2u8V3CuPVwAAXFQcDi4Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url(https://fonts.gstatic.com/s/firasans/v8/6s0YCA9oCTF6hM60YM-qTbBojE9J5UnpMtv5N3zfxwk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(https://fonts.gstatic.com/s/firasans/v8/VTBnrK42EiOBncVyQXZ7jz0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url(https://fonts.gstatic.com/s/firasans/v8/6s0YCA9oCTF6hM60YM-qTavyPXdneeGd26m9EmFSSWg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(https://fonts.gstatic.com/s/firasans/v8/zM2u8V3CuPVwAAXFQcDi4D0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url(https://fonts.gstatic.com/s/firasans/v8/6s0YCA9oCTF6hM60YM-qTbX8PDrklLOWyWIn-2-AqKA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

body {
  background: #FFF;
  /*background:url("images/layout_grid.png") repeat center 0px;*/
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.7em;
}

* {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-size: 100%
}

a, .modal-button {
  webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a {
  color: #808080;
  text-decoration: none;
}
a:hover {
  color: #8abfe6;
  text-decoration: none;
}
.wraplink { /**/
  color: #333;
  display: block;
}

/* ----- HEADER ----- */

nav {
  background: #333;
  overflow: hidden;
}
  nav .container {
    max-width: 840px;
    margin: 0 auto;
    padding: 1rem 20px;
  }

  nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
    nav ul li{
      list-style: none;
      margin: auto 0 auto 3.4rem;
    }
    .logo {
      margin-right:auto;
      margin-left: 0;
    }
    .logo a {
      float: left;
      width: 72px;
      height: 72px;
      background: rgba(255, 255, 255, 0) url("images/logo.png") no-repeat center 0px;
      -webkit-border-radius: 36px 36px;
      -moz-border-radius: 36px / 36px;
      border-radius: 36px / 36px;
    }
    .logo a:hover {
      background-position: center -72px;
      background-color: rgba(255, 255, 255, 1);
    }
    nav ul li+li a {
      font-weight: 500;
      color: #fff;
      padding: 0.5rem 0;
    }
    nav ul li+li a:hover {
      color: #8abfe6;
      border-bottom: 3px solid #8abfe6;
    }


/* ----- HAUPTBEREICH ----- */

header {
  margin: 0;
}
#arc {background: #2ecc71; color: #fff}
#ard {background: #34495e; color: #fff}
#bal {background: #bdc3c7; color: #000}
#bmp {background: #bdc3c7; color: #000}
#eet {background: #34495e; color: #fff}
#fbc {background: #95a5a6; color: #fff}
#nkh {background: #e74c3c; color: #fff}
#pgl {background: #3498db; color: #fff}
#sds {background: #f1c40f; color: #000}
#sfy {background: #1abc9c; color: #fff}
#smp {background: #e67e22; color: #fff}
#tbl {background: #8e44ad; color: #fff}
#vta {background: #8abfe6; color: #fff}
  header div {
    max-width: 840px;
    margin: 0 auto;
    padding: 3.4rem 20px;
  }
  #vta div {
    padding: 1.7rem 20px;
  }
  #vta div div {
    padding: 0;
  }
  #vta img {
    border-radius: 50%;
    vertical-align: top;
  }
  header div h1, header div h2 {
    margin: 0;
  }

#portrait, #logopic {
  margin: 1.7rem auto;
  display:block;
  border-radius: 50%;
  max-width: 250px;
  height: auto;
  border: 10px solid rgba(0,0,0,0.1);
}
#logopic {
  border: none;
  max-width: 150px;
}


main {
  max-width: 840px;
  margin: 3.4rem auto 0 auto;
  padding: 0 20px;
}
#danke {
  max-width: 840px;
  margin: 5.1rem auto 0 auto;
  padding: 0 20px;
}

h1 { /*Haupttitel*/
  font-weight: 500;
  text-align: center;
  margin: 1.7rem 0;
}

h2 { /*Untertitel*/
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: -1.7rem 0 1.7rem 0;
}

h3 { /*Absatztitel*/
  font-weight: 500;
  text-align: center;
  margin: 1.7rem 0;
}

h4 { /*Abschnitt*/
  font-weight: 500;
  text-align: left;
  font-variant-caps: small-caps;
  margin: 1.7rem 0;
}
h5 {
  font-weight: 500;
  text-align: left;
  margin: 1.7rem 0 0 0;
}
h6 {
  font-weight: 500;
  text-align: left;
}
h6, h6+p {
  display: inline;
}
h6+p::before {
  content: " \2013  ";
}
p+.wraplink {
  margin-top: 1.7rem;
}


p { /*Absatz*/
  margin: 0 0 1.7rem 0;
}
p+p {
  text-indent: 1.7rem;
  margin-top: -1.7rem;
}
p+.abs {
  text-indent: 0;
  margin: 0 0 1.7rem 0;
}
.introduction {
  font-weight: 500;
}
.introduction+p {
  text-indent: 0em;
  margin: 0 0 1.7em 0;
}
p.subtle {
  color: #999;
}

strong , b {
  font-weight: 500;
}
em, i {
  font-style: italic;
}

blockquote { /*Blockzitat*/
  font-style: italic;
  margin: 1.7rem 0 1.7rem 1.7rem;
}
  blockquote::before, q::before {
    content:"\201e";
  }
  blockquote::after, q::after {
    content:"\201c";
  }

figure { /*Bild*/
  text-align: center;
  display: block;
  margin: 0 0 1.7rem 0;
}
  figcaption, .caption, .modal-caption {
    font-style: italic;
    text-align: left;
    margin: 0;
  }
  .embedded+.caption {
    margin: -1.1rem 0 1.7rem 0;
  }
    figcaption strong::after, .caption strong::after, .modal-caption strong::after {
      font-weight: 300;
      content: " \2013  ";
    }
.embedded {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 0 0 1.7rem 0;
}
  .embedded iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

.grid {
  width: 100%;
  height:auto;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 1.7rem;
}

.grid figure {
  margin: 0;
}
.grid-container {
  margin: 0 0 1.7rem 0;
}
.col1 {
  grid-template-columns: 1fr;
}
.col2, .col2t1 {
  grid-template-columns: 1fr 1fr;
}
.col2-31 {
  grid-template-columns: 3fr 1fr;
}
.col3, .col3t1, .col3t2 {
  grid-template-columns: 1fr 1fr 1fr;
}
.vita {
  grid-template-columns: 3fr 2fr;
}
.datagrid {
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 0.85rem;
}

  .datagrid p {
    margin: 0;
  }
  .datagrid div:nth-child(odd) p {
    font-weight: 500;
  }
  .projekte p {
    margin: 0;
  }
  .vita div {
    margin: auto 0;
  }
.fg {
  grid-row-gap: 0;
}

  .nm p{
    margin: 0;
  }

img {
  /*display: block;*/
  max-width: 100%;
  height: auto;
  margin: 0;
}
.imgb {
  border: 5px solid rgba(0,0,0,0.05);
}
p+img {
  margin-bottom: 1.7rem;
}

ul {
  list-style-type: disc;
  display: block;
  margin: 0 0 1.7rem 1.7rem;
}
ol {
  list-style-type: decimal;
  display: block;
  margin: 0 0 1.7rem 1.7rem;
}

hr {
  width: 100%;
  height: 10px;
  border: none;
  background: url("images/stripe-pattern.png") repeat center 0px;
  display: block;
  margin: 1.7rem 0 1.7rem 0;
}


form {
  width: 100%;
  display: block;
  margin: 0 0 1.7rem 0;
}
input, textarea {
  width: 100%;
  margin: 0 0 1.7rem;
  border: 1px solid #333;
  padding:  0.425rem 0.6rem;
  font: inherit;
  resize: vertical;
  color: #333;
}
textarea {
  height: 200px;
}
input:-moz-ui-invalid, textarea:-moz-ui-invalid {
  border: 1px solid #e74c3c;
  box-shadow: none;
}
input:focus, textarea:focus {
  border: 1px solid #8abfe6;
  box-shadow: none;
}

.datasec {
  margin: 0 0 1.7rem 0;
  color: #333;
  font-style: italic;
}
.datasec label {
  display: block;
  position: relative;
  padding-left: 1.9rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datasec label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0.1rem;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
  border: 1px solid #333;
}
.datasec:hover input ~ .checkmark {
  border: 1px solid #8abfe6;
}
.datasec label input:checked ~ .checkmark {
  background: #333;
}
.datasec label input:-moz-ui-invalid {
  border: 1px solid #e74c3c;
  box-shadow: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.datasec label input:checked ~ .checkmark:after {
  display: block;
}
.datasec label .checkmark:after {
  left: 0.5rem;
  top: 0.2rem;
  width: 0.3rem;
  height: 0.6rem;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button, .button {
  width:50%;
  padding:  0.425rem;
  background-color: #fff;
  border: 1px solid #333;
  font: inherit;
  font-weight: 300;
  color: #333;
  cursor: pointer;
}
.button {
  padding:  0.85rem 1.7rem;
  background-color: #fff;
  border: 1px solid #333;
  font-weight: 300;
  color: #333;
  cursor: pointer;
}
button:hover, button:focus, .button:hover, .button:focus {
  border: 1px solid #8abfe6;
  background-color: #8abfe6;
  color: #fff
}
.center {
  width: 100%;
  text-align: center;
}

/* ----- FOOTER ----- */

footer {
  max-width: 840px;
  margin: 3.4rem auto 0 auto;
  padding: 0 20px;
}
  footer ul {
    list-style: none;
    margin: -1.7rem 0 1.7rem 0;
    display: block;
    text-align: center;
  }
    footer ul li {
      list-style: none;
      display: inline-block;
    }
    footer ul li+li::before {
      content: ' · ';
      font-weight: 500;
      margin: 0 0.85rem;

    }
  footer a {
    color: #333;
  }

/* ----- MODAL / LIGHTBOX ----- */

.mdl {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.85);
}
  .modal-container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 0;
    width: 90%;
    height: auto;
    max-width: 1200px;
    background-color: #fff;
    border: 4px solid #fff;
  }
    .modal-image {
      display: block;
    }
    .modal-caption{
      display: none;
      padding: 0.85rem 1.7rem;
    }
    .modal-button {
      /*display: none;*/
      position: absolute;
      color: #fff;
      cursor: pointer;
      font-weight: 500;
    }
    .modal-button:hover {
      color: #8abfe6;
    }
    #prev:hover, #next:hover {
      background-color: #fff;
      text-shadow: unset;
    }
    #close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 36px;
      border-radius: 50%;
    }
    #prev, #next {
      display: none;
      top: 50%;
      padding: 20px;
      margin-top: -20px;
      text-shadow: 0 0 2px #000;
    }
    #prev {left: 0;}
    #next {right: 0;}

/* ----- MEDIA QUERIES ----- */

html {
  font-size: 21px;
}
  
.navbutton {
  display: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.navbutton:hover .navicon{
  fill: #8abfe6;
}

#navbar {
  display: none;
}
  #navbar ul {
    justify-content: center
  }
    #navbar ul li:first-child {
      margin-left: 0;
    }
    #navbar ul li a {
      font-weight: 500;
      color: #fff;
      padding: 0;
    }
    #navbar ul li a:hover {
      color: #8abfe6;
      border: 0;
    }


@media (max-width: 700px){
  html {
    font-size: 18px;
  }
  .grid {
    grid-column-gap: 20px;
  }

  #navbar, .navbutton {
    display: none;
  }
}

@media (max-width: 480px){
  html {
    font-size: 15px;
  }
  .grid {
    grid-column-gap: 10px;
  }
  .col2t1, .col3t1, .col2-31 {
    grid-template-columns: 1fr;
  }
  .col3t2 {
    grid-template-columns: 1fr 1fr;
  }
  .datagrid, .projekte, .vita {
    grid-template-columns: 1fr;
    grid-row-gap: 0rem;
  }
  .datagrid div:nth-child(even) p, .projekte div:nth-child(even) p {
    margin-bottom: 0.85rem;
  }
  .datagrid div:last-child p, .projekte div:last-child p {
    margin-bottom: 0;
  }
  .vita div:first-child {
    grid-row-start: 2;
    margin: 0 0 -1.7rem 0;
  }
  .vita, .vita h5 {
    text-align: center;
  }


  nav .container ul .navlink {
    display: none;
  }
  .navbutton {
    display: block;
  }
}